.toast-header button.close {
    display: none;
}

.Toast {
    max-width: 100%;
    position: relative;
    cursor: pointer;
}

.Toast .TaskActions {
    position: absolute;
    right: 4px;
    top: 0;
    padding: 4px;
    background: rgba(255, 255, 255, 0.7);
}

.Toast span {
    width: 100%;
    display: block;
}